.widget-piechart {

  background-color:#96bf48;

  h1 {
    color: #000;
  }
 
  .chart_label {
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  .legend {
  	width: 150px;
  }
}